@model Univers.Models.Models.SignUpUserModel

<link rel="stylesheet" href="~/css/LoginAndRegistration.css" asp-append-version="true" />

<div class="div1">
    <a href="@Url.Action("UploadImage", "Registration")"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a><br /><br />

    <img src="@Url.Content("~/images/Logo1.svg")" class="logo1" /><br /><br />

    <label class="lb1">
        Регистрирай се като:
    </label>

    @using (Html.BeginForm("ChooseRoleForSignUp", "Registration", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Image)

        @Html.DropDownListFor(Model => Model.RoleChoice, new List<SelectListItem>
        {
            new SelectListItem { Text = "Студент",  },
            new SelectListItem { Text = "Служител", }
        }, new {@class = "list"})
        <button class="button3" type="submit">Регистрирация</button>
    }

</div>