@model Univers.Models.Models.UserModel

<link rel="stylesheet" href="~/css/LoginAndRegistration.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cooltipz-css@2.2.2/cooltipz.css" />

@using (Html.BeginForm("AddUser", "Registration", FormMethod.Post))
{
    <div class="div3">
        <a href="SignUpAs"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a><br /><br />

        <table style="width:85%;  height:70%; margin-left:12%; border-spacing: 0 10px; ">
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.Username, "Потребителско име", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.Username, new { @class = "tb2" }) 
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.FirstName, "Име", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "tb2"})
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.Password, "Парола", new { @class = "title"})<br>
                        @Html.PasswordFor(model => model.Password, new { @class = "tb2" })
                        @Html.ValidationMessageFor(model => model.Password)
                        <span aria-label="sdfsdfsdfsdf" data-cooltipz-dir="top" data-cooltipz-visible></span>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.MiddleName, "Презиме", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PasswordConfirmation, "Повторете паролата", new { @class = "title"})<br>
                        @Html.PasswordFor(model => model.PasswordConfirmation, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.LastName, "Фамилия", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.Email, "Email адрес", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.Email, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PhoneNumber, "Телефон", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "tb2", type="tel", required = "required" , pattern=@"/^+359\d{9}", placeholder="+359" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.Address, "Адрес", new { @class = "title"})<br>
                        @Html.TextBoxFor(model => model.Address, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.Gender, "Пол", new { @class = "title"})<br>
                        @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Мъж"},
                            new SelectListItem { Text = "Жена"}
                        },  new { @class = "tb2", required = "required"})
                    </div>
                </td>
            </tr>
        </table>

        <button class="button4" type="submit">Напред</button>
    </div>
}