@model List<Univers.Models.Models.User>
<table>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Username</td>
            <td>@user.Password</td>
            <td>@user.PasswordSalt</td>
            <td>@user.FirstName</td>
            <td>@user.MiddleName</td>
            <td>@user.LastName</td>
            <td>@user.DateOfRegistration</td>
            <td>@user.PhoneNumber</td>
            <td>@user.Email</td>
            <td>@user.Address</td>
            <td>@user.Gender</td>
            <td>@user.Image</td>
            <td>@user.IsActive</td>
        </tr>
    }
</table>