@model Univers.Models.Models.User
@{
    ViewData["Title"] = "SignUp";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
 
@using (Html.BeginForm("AddUser", "Login", FormMethod.Post, new { @class = "div3" }))
{
    <a href="SignUpAs"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a><br /><br />
    
    <table style="width:95%; margin-left:12%; height:70%; border-spacing: 0 10px;">
        <tr>
            <td>
                <div class="div2">
                    <label class="title">Потребителско име</label>
                    @Html.TextBoxFor(model => model.Username, new { @class = "tb2", required = "required", data_val_required = "Необходимо е да въведете потребителско име." })
                </div>
            </td>
            <td>
                <div class="div2">
                    <label class="title">Име</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "tb2", required = "required" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="div2">
                    <label class="title">Парола</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "tb2", required = "required" })
                </div>
            </td>
            <td>
                <div class="div2">
                    <label class="title">Презиме</label>
                    @Html.TextBoxFor(model => model.MiddleName, new { @class = "tb2", required = "required" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="div2">
                    <label class="title">Повторете паролата</label>
                    @Html.PasswordFor(model => model.PasswordRepeat, new { @class = "tb2", required = "required" })
                </div>
            </td>
            <td>
                <div class="div2">
                    <label class="title">Фамилия</label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "tb2", required = "required" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="div2">
                    <label class="title">Email адрес</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "tb2", required = "required" })
                </div>
            </td>
            <td>
                <div class="div2">
                    <label class="title">Телефон</label>
                    <input type="tel" pattern="/^+359\d{9}" required class="tb2" placeholder="+359" asp-for="@Model.PhoneNumber"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="div2">
                    <label class="title">Адрес</label>
                    @Html.TextBoxFor(model => model.Address, new { @class = "tb2", required = "required" })
                </div>
            </td>
            <td>
                <div class="div2">
                    <label class="title">Пол</label>
                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem> 
                        { 
                            new SelectListItem { Text = "Мъж"},  
                            new SelectListItem { Text = "Жена"}
                },  new { @class = "tb2", required = "required"})
                </div>
            </td>
        </tr>
    </table>

    <button class="button4" type="submit">Регистрирация</button>
 }