@model Univers.Models.Models.Student
@{
    ViewData["Title"] = "SignUp";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

@using (Html.BeginForm("AddUser", "Login", FormMethod.Post, new { @class = "div3" }))
{
    <div class="div4">
        <a href="SignUpAs"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a><br /><br />

        <table style="width:100%; margin-left:17%; border-spacing: 0 10px;">
            <tr >
                <br /><br />
                <td >
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Потребителско име", new { @class = "title"})
                        @Html.TextBoxFor(model => model.Username, new { @class = "tb2", required = "required", data_val_required = "Необходимо е да въведете потребителско име." })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(m => m.LastName, "Име", new { @class = "title"})
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Парола", new { @class = "title"})
                        @Html.PasswordFor(model => model.Password, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(m => m.LastName, "Презиме", new { @class = "title"})
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Повторете паролата", new { @class = "title"})
                        @Html.PasswordFor(model => model.PasswordRepeat, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(m => m.LastName, "Фамилия", new { @class = "title"})
                        @Html.TextBoxFor(model => model.LastName, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Email адрес", new { @class = "title"})
                        @Html.TextBoxFor(model => model.Email, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PhoneNumber, "Телефон", new { @class = "title"})
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "tb2", type="tel", required = "required" , pattern=@"/^+359\d{9}", placeholder="+359" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Настоящ адрес", new { @class = "title"})
                        @Html.TextBoxFor(model => model.Address, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(m => m.LastName, "Пол", new { @class = "title"})
                        @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Мъж"},
                    new SelectListItem { Text = "Жена"}
                    },  new { @class = "tb2", required = "required"})
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Гражданство", new { @class = "title"})
                        @Html.TextBoxFor(model => model.Citizenship, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PhoneNumber, "Държава на раждане", new { @class = "title"})
                        @Html.TextBoxFor(model => model.CountryOfBirth, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Община на раждане", new { @class = "title"})
                        @Html.TextBoxFor(model => model.MunicipalityOfBirth, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PhoneNumber, "Област на раждане", new { @class = "title"})
                        @Html.TextBoxFor(model => model.AreaOfBirth, new { @class = "tb2", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "Град на раждане", new { @class = "title"})
                        @Html.TextBoxFor(model => model.CityOfBirth, new { @class = "tb2", required = "required" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PhoneNumber, "Дата на раждане", new { @class = "title"})
                        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "tb2", type = "date", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right:-10%">
                        @Html.LabelFor(m => m.LastName, "ЕГН", new { @class = "title"})
                        @Html.TextBoxFor(model => model.Identity, new { @class = "tb2", required = "required", pattern="[0-9]{10}" })<br /><br /><br />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <button class="button4" type="submit">Напред</button>
    
}