@model Univers.Models.Models.UserModel
<h2>Welcome</h2>

<p>@Model.Id</p>
<p>@Model.Username</p>
<p>@Model.Password</p>
<p>@Model.PasswordSalt</p>
<p>@Model.FirstName</p>
<p>@Model.MiddleName</p>
<p>@Model.LastName</p>
<p>@Model.DateOfRegistration</p>
<p>@Model.PhoneNumber</p>
<p>@Model.Email</p>
<p>@Model.Address</p>
<p>@Model.Gender</p>
<p>@Model.Image</p>
<p>@Model.IsActive</p>

<a href="@Url.Action("Login")"><button type="button">Back</button></a>