@using Univers.PL.Utilities;
@model Univers.Models.Models.UserForgottenPasswordModel

<link rel="stylesheet" href="~/css/LoginAndRegistration.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cooltipz-css@2.2.2/cooltipz.css" /> 
<title>Смяна на парола</title>
@{
    var _utilities = new Utilities();
}

@using (Html.BeginForm("NewPassword", "ForgottenPassword", FormMethod.Post, new { @class = "div1" }))
{
    <a href="@Url.Action("EnterEmail", "ForgottenPassword")"><img src="@Url.Content("~/images/Back.svg")" class="back" /></a>
    <br />
    <br />
    <img src="@Url.Content("~/images/Logo1.svg")" class="logo1" />
    <br /> 

    @Html.LabelFor(model => model.NewPassword, "Нова парола", new { @class = "lb1"})
    <br />

    <div>
        @{
            string newPasswordErrorMessage = @_utilities.GetTheErrorMessage(@_utilities.HtmlContentToString(@Html.ValidationMessageFor(model => model.NewPassword)));
            if (newPasswordErrorMessage != null)
            {
                <span class="errorwindow" style="margin-left:17%" aria-label="@newPasswordErrorMessage" data-cooltipz-dir="top" data-cooltipz-size="fit">
                    <div></div>@Html.PasswordFor(model => model.NewPassword, new { @class = "tb1 errortb"})
                </span>
            }
            else
            {
                @Html.PasswordFor(model => model.NewPassword, new { @class = "tb1"})
            }
        }
    </div>
    <br />
    <br />

    @Html.LabelFor(model => model.NewPasswordConfirmation, "Повторете новата парола", new { @class = "lb1"})
    <br />
    <div>
        @{
            string newPasswordConfirmationErrorMessage = _utilities.GetTheErrorMessage(_utilities.HtmlContentToString(@Html.ValidationMessageFor(model => model.NewPasswordConfirmation)));
            if (newPasswordConfirmationErrorMessage != null)
            {
                <span class="errorwindow" style="margin-left:17%" aria-label="@newPasswordConfirmationErrorMessage" data-cooltipz-dir="top" data-cooltipz-size="fit">
                    <div></div>@Html.PasswordFor(model => model.NewPasswordConfirmation, new { @class = "tb1 errortb"})
                </span>
            }
            else
            {
                @Html.PasswordFor(model => model.NewPasswordConfirmation, new { @class = "tb1"})
            }
        }
    </div>  

    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Code)

    <button class="button4" style="margin-top: 10%;" type="submit">Запази</button> 
}