@*@model List<Univers.Models.Models.User>

<table>
@foreach(var user in Model)
{
    <tr>
        <td>@user.Id</td>
        <td>@user.Username</td>
        <td>@user.Password</td>
        <td>@user.PasswordSalt</td>
        <td>@user.FirstName</td>
        <td>@user.MiddleName</td>
        <td>@user.LastName</td>
        <td>@user.DateOfRegistration</td>
        <td>@user.PhoneNumber</td>
        <td>@user.Email</td>
        <td>@user.Address</td>
        <td>@user.Gender</td>
        <td>@user.Image</td>
        <td>@user.IsActive</td>
    </tr>
}
</table>*@
@model List<Univers.Models.Models.University>

<table>
    @foreach (var university in Model)
    {
        <tr>
            <td>@university.Id&nbsp;</td>
            <td>@university.RectorId&nbsp;</td>
            <td>@university.Name&nbsp;</td>
            <td>@university.Address&nbsp;</td>
            <td>@university.Capacity&nbsp;</td>
        </tr>
    }
</table>