@model Univers.Models.Models.TeacherModel

@{
    Layout = "../_TeacherMenu.cshtml";
    TempData["Id"] = Model.UserId;
    TempData["Title"] = "Оценки";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />

<style>
    body {
        background: #5349E3;
    }
</style>

<div style="max-width: 90%; margin-left: 3%; margin-right: 3%; margin-top: 2%;"> 
    <br />
            <h2 class="text-center">Оценки по @Model.ChoosenSubject.Name</h2> <br /> <br />
            <br />
            <div class="container text-center">
                <div class="row">
                    <div class="col-2 text-uppercase text-center">
                        Семестър
                    </div>
                    <div class="col-4 text-uppercase text-center">
                        Студент
                    </div>
                    <div class="col-5 text-uppercase text-center">
                        Оценки
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>

    <div class="overflow-y-scroll" style="height: 65%; width: 88%; position: fixed;"> 
        @if (Model == null)
        {
            <label class="fs-2 text-center" style="color: #ff03ad; width: 100%;">
                Все още няма оценки!
            </label>
            <br />
        }
        else
        { 
            <br /> 
            <table class="table">
                <tbody>
                    @foreach (var student in Model.Students)
                    { 
                        <tr>
                            @if (student.Grade != null)
                            {
                                <td class ="col-1"></td>
                                <th class="col-2">
                                    @student.Grade.Semester
                                </th>
                                <td class="col-5">@student.Student.FullName</td>
                                <td>@student.Grade.Grade</td>
                                <td class="col-1">
                                    @Html.ActionLink("Редактирай", "EditGrade", "Teacher", new { userId = Model.UserId, studentId = student.Grade.StudentId, subjectId = Model.ChoosenSubject.Id}, new { @class = "btn btn-success" })
                                </td>
                                <td class="col-1">
                                    @using (Html.BeginForm("DeleteGrade", "Admin", FormMethod.Post, new { onsubmit = $"return confirm('Сигурни ли сте, че искате да изтриете {@student.Grade.Grade}-та на {@student.Student.FullName}'); " }))
                                    {
                                        @Html.Hidden("userId", Model.UserId)
                                        @Html.Hidden("studentId", student.Grade.StudentId)
                                        @Html.Hidden("subjectId", Model.ChoosenSubject.Id)
                                        <button class="btn btn-danger" type="submit">Изтрий</button>
                                    }
                                </td> 
                            }
                            else
                            {
                                <td class="col-1"></td>
                                <th class="col-2">
                                     
                                </th>
                                <td class="col-5">@student.Student.FullName</td>
                                <td>Няма</td>
                                <td class="col-1">
                                    @Html.ActionLink("Добави", "AddGrade", "Teacher", new { userId = Model.UserId, studentId = student.StudentId, subjectId = Model.ChoosenSubject.Id}, new { @class = "btn btn-success" })
                                </td> 
                            }  
                        </tr> 
                    }
                </tbody>
            </table>
        }
    </div>
</div> 